@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CarPar
<div>
    <h3>Araç veya Motor Türü Tanımla</h3>
    <form asp-controller="CarPar" asp-action="InsertContent" method="post">
        <div class="row">
            <div class="col-sm-6">
                <label style="font-weight:bold" asp-for="@Model.Type">Türü</label>
                <select asp-for="@Model.Type" class="form-control">
                    <option value=1>Araç Türü</option>
                    <option value=2>Motor Türü</option>
                </select>
                <label style="font-weight:bold" asp-for="@Model.Name">Adı</label>
                <input asp-for="@Model.Name" class="form-control" required />
                <br />
                <button type="submit" class="btn btn-secondary">Ekle</button>
            </div>
            <div class="col-sm-6">
                <img src="https://hips.hearstapps.com/hmg-prod/images/cylinder-1-1555358422.gif?resize=640:*" alt="Engine" title="Engine" width="800" height="450" decoding="async" fetchpriority="high" sizes="100vw">
            </div>
            
            
            
        </div>
    </form>
</div>